@page "/blog/summary/"
@{
    Page.Title = "Blog summaries";
    Page.BuildLast = true;
}

<h1>Latest Blog Posts, Summary</h1>

@foreach (var post in Site.Builder.Pages.BlogPosts)
{
    <h2>@post.Title</h2>
    <div>@post.Summary</div>
    <p><a href="@post.Href">Read more</a></p>
    <hr />
}