@page "/"
@{
    Page.Title = "Welcome Home";
}
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Update Date="2025-07-04">
    Any page can have updates that appear in the feed.
    Though a new page itself will not appear in the feed.
</Update>