@page "/"
@{
    Page.Title = "Welcome Home";
}
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Markdown>

    This was a standard Blazor website,
    now modified to generate a static blog.

    Take a look at the source for this demo website at
    our GitHub repo [silentorbit/BlazorBlogBuilderDemo](https://github.com/silentorbit/BlazorBlogBuilderDemo)
    
</Markdown>

<Update Date="2025-07-08">
    Any page can have updates that appear in the feed.
    Though a new page itself will not appear in the feed.
</Update>
