@inherits BlogPost
@{
    Page.Title = "Draft";
    Page.IsDraft = true;
}

<p>This is a draft</p>

<Update Date="2025-01-01" Render>
    This update should not appear because it's part of a draft.
</Update>
