@inherits BlogPost
@{
    Page.Title = "Draft 4";
    Page.Published = null;
}

<p>This is a draft</p>

<MyUpdate Date="2025-01-01">
    This update should not appear because it's part of a draft.
</MyUpdate>
