@inherits BlogPost
@{
    Page.Title = "<Markdown>";
    Page.Published = "2025-07-12";
    Page.Tags = "markdown";
    Page.Markdown = false;
}

<p>With <code>Page.Markdown = false;</code> you will disable the markdown in the page.</p>

<Markdown>

    You can still Markdown in some areas by wrapping it in `&lt;Markdown&gt;&lt;/Markdown&gt;`

</Markdown>
