@inherits BlogPost
@{
    Page.Title = "Draft 2";
    Page.IsDraft = true;
}

<p>This is a draft</p>

<MyUpdate Date="2025-01-01" Render>
    This update should not appear because it's part of a draft.
</MyUpdate>
