@inherits BlogPost
@{
    Page.Title = "Draft 3";
    Page.Published = "3025-07-01"; //Publish date in the future
}

<p>This is a draft</p>

<MyUpdate Date="2025-01-01">
    This update should not appear because it's part of a draft.
</MyUpdate>
