@inherits BlogPost
@{
    Page.Title = "Markdown in <Summary> and <Update>";
    Page.Published = "2025-07-13";
    Page.Tags = "markdown";
}

<h2>@(@"<Summary>")</h2>
<Summary Render>
    Summaries are parsed as Markdown by default if `@(nameof(SiteConfig)).@(nameof(SiteConfig.BuildConfig)).@(nameof(SiteConfig.BuildConfig.Markdown)).@(nameof(SiteConfig.BuildConfig.Markdown.Summary)) = true`
</Summary>

<h2>@(@"<Summary Markdown=""false"">")</h2>
<Summary Render Markdown="false">
    <p># The default can be overridden by <code>Markdown="false"</code> or <code>Markdown="true"</code>.</p>
</Summary>

<h2>@(@"<Update>")</h2>
<MyUpdate Date="2025-07-13 12:00" Render>
    Updates are parsed as Markdown by default if `@(nameof(SiteConfig)).@(nameof(SiteConfig.BuildConfig)).@(nameof(SiteConfig.BuildConfig.Markdown)).@(nameof(SiteConfig.BuildConfig.Markdown.Update)) = true`
</MyUpdate>

<h2>@(@"<Update Markdown=""false"">")</h2>
<MyUpdate Date="2025-07-13 12:01" Render Markdown="false">
    <p># The default can be overridden by <code>Markdown="false"</code> or <code>Markdown="true"</code>.</p>
</MyUpdate>